@using RSAllies.Contracts.Responses
@model BookingDto

@{
    ViewData["Title"] = "Home Page";
}

<div id="Container">

    <div id="pc" class="container">

        <div class="row align-items-center" id="first">
            <div class="col-md-6 mb-2">
                <img src="/images/first-image.jpg" class="img-fluid rounded-start rounded-end h-100" alt="Image description">
            </div>
            <div class="col-md-6" style="font-family: 'Fira Code VF'">
                <p class="english myHeader">Book &amp; Attempt the Exam.</p>
                <p class="swahili myHeader">Hifadhi Nafasi yako kisha Jibu Mtihani.</p>
                <p class="myContent english">Find the nearest station that’s easily accessible, reserve your spot, show up for the exam, and then follow the remaining steps to obtain your license.</p>
                <p class="swahili myContent">Angalia kituo ulichokaribu nacho, chenye urahisi kukifikia, hifadhi nafasi yako, tokea kujibu mtihani kisha endelea na taratibu nyengine za kupata leseni.</p>
            </div>
        </div>

        @if (Model is null)
        {

        }
        else
        {
            <div id="Card">
                @if (Model.BookedAt < DateTime.Today)
                {
                    <div id="Inner">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <img src="/Images/booking.gif" width="100" />
                            <p class="english">You do not have a current booking, please book!</p>
                            <p class="swahili">Huja hifadhi nafasi, jaribu kuhifadhi nafasi katika kituo chochote</p>
                        </div>
                    </div>
                }
                else
                {
                    <div id="Inner">

                        <div class="d-flex flex-row justify-content-between">

                            <span id="VN">@Model.VenueName</span>

                        </div>

                        <br />

                        <div class="d-flex flex-row justify-content-between">

                            <span class="english">Date</span>
                            <span class="swahili">Tarehe</span>

                            <span>@Model.BookedAt.ToString("dd/MM/yyyy")</span>

                        </div>
                        <br />

                        <div class="d-flex flex-row justify-content-between">

                            <span class="english">Time</span>
                            <span class="swahili">Muda</span>

                            <span>@Model.StartTime - @Model.EndTime</span>

                        </div>
                        <br />

                        <div class="d-flex flex-row justify-content-between">

                            <span class="english">Booking status</span>
                            <span class="swahili">Status</span>

                            <span class="badge text-bg-success d-flex justify-content-center align-items-center">@Model.Status</span>

                        </div>

                        <hr />

                        <div style="margin-top: auto">
                            <p>Actions</p>

                            <div id="BDiv">

                                @if (Model.Status != BookingStatus.Confirmed)
                                {
                                    <button id="confirm" data-bookingId="@Model!.Id" class="myButtons" style="background-color:#356dca" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <span class="english">Confirm</span>
                                        <span class="swahili">Hakikisha</span>
                                    </button>
                                }

                                @if (Model.BookedAt.Date == DateTime.Today)
                                {
                                    <a asp-controller="Test" asp-action="Index" class="myButtons" style="background-color:#8fbe26">
                                        <span class="english">Attempt test</span>
                                        <span class="swahili">Fanya mtihani</span>
                                    </a>
                                }

                            </div>

                        </div>

                    </div>
                }



                <div id="Outer">

                    <p id="GDiv">
                        <span class="english">Guidelines</span>
                        <span class="swahili">Angalizo</span>
                    </p>

                    <ul class="english">
                        <li>Arrive at least 30 minutes before the exam.</li>
                        <li>An ID with your picture.</li>
                        <li>Confirm your booking 45 minutes before the onset of the test, otherwise your booking will be discarded.</li>
                        <li>Cheating is prohibited, and will lead to a temporary ban to attempt the exam.</li>
                    </ul>

                    <span style="margin-top:auto" class="english">Best oƒ luck</span>

                    <ul class="swahili">
                        <li>Fika angalau dakika 30 kabla ya mtihani.</li>
                        <li>Kitambulisho chenye picha yako.</li>
                        <li>Thibitisha uhifadhi wako dakika 45 kabla ya kuanza kwa mtihani, vinginevyo uhifadhi wako utatupiliwa mbali.</li>
                        <li>Kudanganya ni marufuku, na itasababisha marufuku ya muda kujaribu mtihani.</li>
                    </ul>

                    <span style="margin-top:auto" class="swahili">Kila la kheri</span>

                </div>

            </div>
        }

        <br />
        <p style="font-family:'Fira Code VF'" class="english">Reading Materials</p>
        <p style="font-family:'Fira Code VF'" class="swahili" style="display: none">Makala ya Kujisomea</p>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100 ClickableDiv" style="cursor: pointer;">
                        <img class="card-img-top" alt="sample images" src="images/law.jpg" />
                        <div class="card-body">
                            <p style="font-family:'Fira Code VF'" class="english">Traffic laws &amp; Legislations</p>
                            <p style="font-family:'Fira Code VF'" class="swahili card-title">Sheria za Barabarani</p>
                            <a style="font-family:'Fira Code VF'" href="pdfs/law.pdf" class="english btn btn-primary" download="">Download</a>
                            <a style="font-family:'Fira Code VF'" href="pdfs/law.pdf" class="swahili btn btn-primary" download="" style="display: none">Pakua</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100 ClickableDiv" style="cursor: pointer;">
                        <img class="card-img-top" alt="sample images" src="images/road-signs.jpg" />
                        <div class="card-body">
                            <p style="font-family:'Fira Code VF'" class="english">Road Signs &amp; Symbols</p>
                            <p style="font-family:'Fira Code VF'" class="swahili card-title">Alama za Barabarani</p>
                            <a style="font-family:'Fira Code VF'" href="pdfs/law.pdf" class="english btn btn-primary" download="">Download</a>
                            <a style="font-family:'Fira Code VF'" href="pdfs/law.pdf" class="swahili btn btn-primary" download="" style="display: none">Pakua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@if(Model is not null)
{

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" style="font-family:'Fira Code VF'" id="staticBackdropLabel">
                        <span class="english">Booking Confirmation</span>
                        <span class="swahili">Thibitisha nafasi yako</span>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="font-family:'Fira Code VF'" class="modal-body">

                    <span class="english">You are about to confirm your attendance on the test sitting!</span>
                    <span class="swahili">Unakaribia kuthibitisha uwepo wako siku ya mtihani</span>
                </div>
                <div style="font-family:'Fira Code VF'" class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                    <a asp-controller="Home" asp-action="ConfirmBooking" asp-route-bookingId="@Model!.Id" id="confirmButton" type="button" class="btn btn-success">
                        <span class="english">Confirm</span>
                        <span class="swahili">Thibitisha</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {

    <script>

        $(document).ready(function () {

            $("#confirm").click(function () {
                var bookingId = $(this).data("bookingId");

                console.log(bookingId);

                $("#confirmButton").data("bookingId", bookingId);
            });

            $("#confirmButton").click(function () {
                var bookingId = $(this).data("bookingId");

                console.log(bookingId);

                // var url = `/confirmbooking?bookingId=${bookingId}`;

                // window.location.href = url;
            });

        });

    </script>

}

<style>
    .myButtons {
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        color: white;
        font-weight: 500;
        text-decoration: none;
        text-align:center;
    }

        .myButtons:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        }
</style>