@using RSAllies.Contracts.Responses
@using RSAllies.Services
@inject SessionService sessionService
@{
    ViewData["Title"] = "Venue";
}

@model VenueDto


<div id="Container">

    <div id="FirstSome">
        
        <img src="/Images/first-image.jpg" class="img-fluid" style="border-radius:5px;"/>

        <div style="display:flex;flex-direction:row;justify-content:space-between;align-items:center">
            <div style="font-family:'Fira Code VF'">@Model.Name</div>
            <i id="edit" class="bi bi-pen"></i>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <span class="english">Capacity</span>
            <span class="swahili">Nafasi</span>
            <span style="font-size:14px;" class="badge bg-success">@Model.Capacity</span>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <i style="color:#f2c94c" class="bi bi-geo-alt-fill"></i>
            <span>@Model.District, @Model.Region</span>
        </div>


        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <i style="color:#f2c94c;" class="bi bi-telephone-fill"></i>
            0679844679
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <span style="font-size:14px" class="badge bg-success">Available</span>
            <span class="english">No. of Sessions: {@Model.Sessions!.Count}</span>
            <span class="swahili">Idadi ya Nafasi: {@Model.Sessions!.Count}</span>
        </div>


        @if (sessionService.CheckAdmin())
        {
            <a class="w-100 btn btn-primary" style="font-family:'Fira Code VF';margin-top:auto;"
               asp-controller="Sessions"
               asp-action="Create"
               asp-route-id="@Model.Id"
               asp-route-venueName="@Model.Name">Create session</a>
        }

    </div>

    <div id="Second">
        
        @if (Model.Sessions.Any())
        {
            @foreach (var session in Model.Sessions.OrderBy(s => s.Date))
            {
                <div class="Card">

                    <div class="d-flex flex-row justify-content-between align-items-center w-100" style="font-family:'Fira Code'">
                        <span>@session.StartTime - @session.EndTime</span>
                        <i style="color:green;font-size:16px;" class="bi bi-patch-check"></i>
                    </div>

                    <div class="d-flex flex-row justify-content-between align-items-center w-100" style="font-family:'Fira Code'">
                        <i style="color:green;font-size:16px;" style="color:#f2c94c" class="bi bi-calendar2-date"></i>
                        <span>@session.Date.ToString("dd/MM/yyyy")</span>
                    </div>

                    <div class="d-flex flex-row justify-content-between align-items-center w-100" style="font-family:'Fira Code'">
                        <i style="color:green;font-size:16px;" class="bi bi-people"></i>
                        <span>@session.Capacity/@Model.Capacity</span>
                    </div>

                    <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="@Model.Capacity" style="height: 3px">
                        <div class="progress-bar" style="width:@session.Capacity%"></div>
                    </div>

                    @if (sessionService.Check())
                    {
                        <button id="myButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-userId="@sessionService.GetUserId()" data-sessionId="@session.Id" data-sessionDate="@session.Date.ToString("dd/MM/yyyy")">
                            Book
                        </button>
                    }

                    @if (sessionService.CheckAdmin())
                    {
                        <a asp-controller="Sessions" asp-action="Details" asp-route-id="@session.Id" asp-route-startTime="@session.StartTime" asp-route-endTime="@session.EndTime" asp-route-date="@session.Date.ToString("dd/MM/yyyy")" asp-route-capacity="@session.Capacity" asp-route-venueName="@Model.Name"
                           style="color:black;text-align:center;text-decoration:none;border: none;border-radius: 5px;font-family: 'Fira Code VF';font-size: 14px;background-color: #f2c94c;">
                            Details
                        </a>
                    }


                </div>
            }
        }
        else
        {
            <div id="NoSessions">
                
                <img src="/Images/upcoming.gif" width="100" height="100"/>

                <p style="font-family:'Fira Code VF'" class="english">This venue is yet to have sessions.</p>
                <p style="font-family:'Fira Code VF'" class="swahili">kituo hiki hakina nafasi</p>

            </div>
        }

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div style="font-family:'Fira Code VF'" class="modal-title" id="staticBackdropLabel">
                    <span class="english">Session Booking</span>
                    <span class="swahili">Hifadhi nafasi</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-family:'Fira Code VF'">

                <div id="info">
                    <span class="english">You are about to book a session at the selected session, Do you want to continue?</span>
                    <span class="swahili">Unakaribia kuhifadhi kikao katika kikao kilichochaguliwa, Je, unataka kuendelea? </span>
                </div>


                <div class="msg">
                    <p class="english text-danger" style="font-size:16px">Please note that you can only book one session at a time.</p>
                    <p class="swahili text-danger" style="font-size:16px">Huwezi kuweka nafasi nyingine kama tayari unayo</p>
                </div>

            </div>
            <div class="modal-footer" style="font-family:'Fira Code VF';font-size:15px;">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <span class="english">Close</span>
                    <span class="swahili">Ghairisha</span>
                </button>
                <button id="bookBtn" type="button" class="btn btn-primary">
                    <span class="english">Book</span>
                    <span class="swahili">Hifadhi</span>
                </button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>

        $(document).ready(function () {

            $('.msg').hide();
            $('#info').show();

            let hasBookedCookie = document.cookie.split('; ').find(row => row.startsWith('HasBooked'));
            if (hasBookedCookie) {
                $('.msg').show();
                $('#bookBtn').hide();
                $('#info').hide();
                return;
            }

            $('#bookBtn').show();

            $(".sessionForm").submit(function (event) {
                // Show the loading modal
                $("#loadingModal").modal("show");

                $('body').css('pointer-events', 'none')
            });

            var today = new Date().toISOString().split('T')[0];
            $('#dateField').attr('min', today);


            $("#myButton").on("click", function () {
                // Get the values from data attributes
                var userId = $(this).data("userid");
                var sessionId = $(this).data("sessionid");
                var sessionDate = $(this).data("sessiondate");

                // Save userId and sessionId to session storage
                sessionStorage.setItem("userId", userId);
                sessionStorage.setItem("sessionId", sessionId);
                sessionStorage.setItem("sessionDate", sessionDate);

            });


            $('#bookBtn').on('click', function () {

                var userId = sessionStorage.getItem("userId");
                var sessionId = sessionStorage.getItem("sessionId");
                var sessionDate = sessionStorage.getItem("sessionDate");


                let request = {
                    userId: userId,
                    sessionId: sessionId
                }

                var url = `/booking?userId=${request.userId}&sessionId=${request.sessionId}&date=${sessionDate}`;

                window.location.href = url

            });


        });

    </script>
}