@using Newtonsoft.Json
@{
    ViewData["Title"] = "Booking Analysis";
}

<div id="TheContainer">

    <div id="first">

        <div id="left">
            <p style="font-weight:900;color:#f2c94c">Booking rate analysis</p>
            <figure class="highcharts-figure">
                <div id="bookingRate"></div>
            </figure>
        </div>

        <div id="right">
            
            <p style="font-weight:900;color:#f2c94c">Confirmation & Cancellation rates</p>
            <figure class="highcharts-figure">
                <div id="confirmCancel"></div>
            </figure>

        </div>

    </div>

    <div id="second">

        <div id="second-left">
            <p style="font-weight:900;color:#f2c94c">Peak booking times</p>
            <figure class="highcharts-figure">
                <div id="peakTimes"></div>
            </figure>
        </div>

        <div id="second-center">
            <p style="font-weight:900;color:#f2c94c">Peak booking months</p>
            <figure class="highcharts-figure">
                <div id="peakMonths"></div>
            </figure>
        </div>

        <div id="second-right">
            <p style="font-weight:900;color:#f2c94c">Peak Booking Trends for Last 5 Years</p>
            <figure class="highcharts-figure">
                <div id="last5"></div>
            </figure>
        </div>

    </div>

    <div id="third">

        <div id="third-left">
            <p style="font-weight:900;color:#f2c94c">Booking Status Counts by Venue</p>
            <figure class="highcharts-figure">
                <div id="statusCounts"></div>
            </figure>
        </div>
        <div id="third-right">
            <p style="font-weight:900;color:#f2c94c">Repeated bookings Count</p>
            <p style="text-align:center;font-size:60px;font-weight:900;font-family:'Segoe Script'">@ViewBag.RepeatedBookings</p>
            <div>
                <p>This may be due to:</p>
                <ol>
                    <li>Late confirmation</li>
                    <li>Test retake</li>
                    <li>Other personal reasons</li>
                </ol>
            </div>
        </div>

    </div>

</div>
@section Scripts{

    <script>

        console.log(@Html.Raw(ViewBag.AmData));
        console.log(@Html.Raw(ViewBag.AmData));

    </script>

    <script src="/js/highcharts.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="/js/accessibility.js"></script>
    <script src="/js/drilldown.js"></script>
    <script src="/js/series-label.js"></script>
    <script src="/js/export-data.js"></script>
    <script src="/js/highcharts-3d.js"></script>

    <script type="text/javascript">

        Highcharts.chart('bookingRate', {
            chart: {
                type: 'bar',
                style: {
                    fontFamily: 'Fira Code VF',
                    padding: 0,
                    margin: 0
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: @Html.Raw(ViewBag.Venues),
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '12px'
                    },
                    formatter: function () {
                        return this.value.length > 10 ? this.value.substring(0, 10) + '...' : this.value;
                    }
                }

            },
            yAxis: {
                title: {
                    text: 'Venues'
                }
            },
            series: [{
                name: 'Booking rate',
                data: @Html.Raw(ViewBag.VenueNumbers) // Add your average utilization rate data here
            }]
        });

    </script>

    <script type="text/javascript">
        Highcharts.chart('confirmCancel', {
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'Fira Code VF',
                    padding: 0,
                    margin: 0
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: @Html.Raw(ViewBag.ConfirmedVenues),
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Booking Confirmation and Cancellation Rates'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Confirmed',
                data: @Html.Raw(ViewBag.ConfirmedNumbers), // Add your booking confirmation rate data here
                color: '#9cd108' // Custom color for confirmation bars
            }, {
                name: 'Canceled',
                data: @Html.Raw(ViewBag.CancelledNumbers), // Add your booking cancellation rate data here
                color: '#ff3133' // Custom color for cancellation bars
            }]
        });
    </script>

    <script type="text/javascript">
        Highcharts.chart('peakTimes', {
            chart: {
                type: 'pie',
                style: {
                    fontFamily: 'Fira Code VF',
                    padding: 0,
                    margin: 0
                }
            },
            title: {
                text: ''
            },
            series: [{
                name: 'Time of Day',
                colorByPoint: true,
                data: [{
                    name: 'AM',
                    y: 40,
                    drilldown: 'AM' // Drilldown ID for AM bookings
                }, {
                    name: 'PM',
                    y: 60,
                    drilldown: 'PM' // Drilldown ID for PM bookings
                }]
            }],
            drilldown: {
                series: [{
                    id: 'AM',
                    name: 'AM Bookings',
                    data: @Html.Raw(ViewBag.AmData)
                }, {
                    id: 'PM',
                    name: 'PM Bookings',
                    data: @Html.Raw(ViewBag.PmData)
                }]
            }
        });

    </script>

    <script type="text/javascript">
        Highcharts.chart('peakMonths', {
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'Fira Code VF',
                    padding: 0,
                    margin: 0
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] // Months of the year
            },
            yAxis: {
                title: {
                    text: 'Number of Bookings'
                }
            },
            series: [{
                name: 'Bookings',
                data: @Html.Raw(ViewBag.MonthlyBookings) // Add your booking data for each month
            }]
        });
    </script>

    <script type="text/javascript">
        Highcharts.chart('last5', {
            chart: {
                type: 'line',
                style: {
                    fontFamily: 'Fira Code VF',
                    padding: 0,
                    margin: 0
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: @Html.Raw(ViewBag.Years) // Last 5 years
            },
            yAxis: {
                title: {
                    text: 'Total Number of Bookings'
                }
            },
            series: [{
                name: 'Bookings',
                data: @Html.Raw(ViewBag.Bookings) // Add your total booking data for each year
            }]
        });
    </script>

    <script type="text/javascript">
        Highcharts.chart('statusCounts', {
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'Fira Code VF',
                    padding: 0,
                    margin: 0
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: @Html.Raw(ViewBag.VenuesList),
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Total Bookings'
                }
            },
            series: [{
                name: 'Booked',
                data: @Html.Raw(ViewBag.Booked) // Total count of booked bookings for each venue
            },
            {
                name: 'Paid',
                data: @Html.Raw(ViewBag.Paid) // Total count of confirmed bookings for each venue
            },
            {
                name: 'Confirmed',
                data: @Html.Raw(ViewBag.Confirmed) // Total count of confirmed bookings for each venue
            }, {
                name: 'Cancelled',
                data: @Html.Raw(ViewBag.Cancelled) // Total count of cancelled bookings for each venue
            }]
        });
    </script>
}