@using RSAllies.Services
@using RSAllies.Contracts.Responses
@inject SessionService SessionService
@{
    ViewData["Title"] = "Sessions";
    var regions = FileService.GetRegions();
}

@model IList<ASessionDto>

<div id="TheContainer">

    <div id="firstContainer">
        
        <div id="Inner">
            <img src="/Images/girl-road-sign.jpg" class="img-fluid rounded"/>
        </div>

        <div id="Outer">
            <p class="english" style="font-family:'Fira Code VF';color: #f2c94c;font-weight:800;">Choose your region and desired date.</p>
            <p class="swahili" style="font-family:'Fira Code VF';color: #f2c94c;font-weight:800;">Chagua mkoa na tarehe husika.</p>
            <form asp-controller="Sessions" asp-action="Search" method="post" class="sessionForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label>
                        <span class="english">Select region</span>
                        <span class="swahili">Chagua mkoa</span>
                    </label>
                    <select class="form-select" name="regionId">
                        <option></option>
                        @foreach (var item in regions.OrderBy(i => i.Name))
                        {
                        <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="mb-3">

                    <label>Select a date</label>
                    <input type="date" id="dateField" name="date" class="form-control" />

                </div>

                <button type="submit" class="btn btn-primary w-100">
                    <span class="english">Find session</span>
                    <span class="swahili">Tafuta</span>
                </button>
            </form>
        </div>

    </div>

    

        @if(Model is not null)
        {
        <div id="secondContainer">
            @foreach (var item in Model!.OrderBy(i => i.Date))
            {
                <div class="Card" style="pointer-events: @(() => item.Capacity == item.VenueCapacity ? "none" : "")">

                    <div class="d-flex flex-row justify-content-between">
                        <span>@item.Date.ToString("dd/MM/yyyy")</span>

                        @if (item.Capacity < item.VenueCapacity)
                        {
                            <i style="color:green;font-size:16px;" class="bi bi-patch-check"></i>
                        }
                        else
                        {
                            <i style="color:red;font-size:16px;" class="bi bi-ban"></i>
                        }
                    </div>

                    <span style="font-size:14px">@item.VenueName</span>

                    <div class="d-flex flex-row justify-content-between">
                        <i style="color:green;font-size:16px;" class="bi bi-stopwatch"></i>
                        <span>@item.StartTime - @item.EndTime</span>
                    </div>

                    <div class="d-flex flex-row justify-content-between align-items-center w-100" style="font-family:'Fira Code'">
                        <i style="color:green;font-size:16px;" class="bi bi-people"></i>
                        <span>@item.Capacity/@item.VenueCapacity</span>
                    </div>

                    <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="@item.Capacity" style="height: 3px">
                        <div class="progress-bar" style="@(() => (item.Capacity * 100)/item.VenueCapacity)%"></div>
                    </div>

                    @if (SessionService.CheckAdmin())
                    {
                        <a asp-controller="Sessions" asp-action="Details" asp-route-id="@item.Id" asp-route-startTime="@item.StartTime" asp-route-endTime="@item.EndTime" asp-route-date="@item.Date.ToString("dd/MM/yyyy")" asp-route-capacity="@item.Capacity" asp-route-venueName="@item.VenueName"
                           style="color:black;text-align:center;text-decoration:none;border: none;border-radius: 5px;font-family: 'Fira Code VF';font-size: 14px;background-color: #f2c94c;">
                            Details
                        </a>
                    }
                    else
                    {
                        <button class="myButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-userId="@SessionService.GetUserId()" data-sessionId="@item.Id" data-sessionDate="@item.Date.ToString("dd/MM/yyyy")">
                            <span class="english">Book</span>
                            <span class="swahili">Hifadhi</span>
                        </button>
                    }


                </div>
            }

        </div>
        }
        else
        {

        <div id="None">
                <img src="/Images/past.gif" width="100" />

                <p class="english">No sessions found ....</p>
                <p class="swahili">Hamna kituo ....</p>
            </div>
            
        }

    </div>


<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Images/wip.gif" width="70" height="70" />
                <p style="font-family:'Fira Code VF'">
                    <span class="english">searching...</span>
                    <span class="swahili" style="display: none">Tafadhali subiri...</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div style="font-family:'Fira Code VF'" class="modal-title" id="staticBackdropLabel">
                    <span class="english">Session Booking</span>
                    <span class="swahili">Hifadhi nafasi</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-family:'Fira Code VF'">
                
                <div id="info">
                    <span class="english">You are about to book a session at the selected session, Do you want to continue?</span>
                    <span class="swahili">Unakaribia kuhifadhi kikao katika kikao kilichochaguliwa, Je, unataka kuendelea? </span>
                </div>


                <div class="msg">
                    <p class="english text-danger" style="font-size:16px">Please note that you can only book one session at a time.</p>
                    <p class="swahili text-danger" style="font-size:16px">Huwezi kuweka nafasi nyingine kama tayari unayo</p>
                </div>

            </div>
            <div class="modal-footer" style="font-family:'Fira Code VF';font-size:15px;">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <span class="english">Close</span>
                    <span class="swahili">Ghairisha</span>
                </button>
                <button id="bookBtn" type="button" class="btn btn-primary">
                    <span class="english">Book</span>
                    <span class="swahili">Hifadhi</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        $(document).ready(function () {

            $('.msg').hide();
            $('#info').show();

            let hasBookedCookie = document.cookie.split('; ').find(row => row.startsWith('HasBooked'));
            if (hasBookedCookie) {
                $('.msg').show();
                $('#bookBtn').hide();
                $('#info').hide();
                return;
            }

            $('#bookBtn').show();

            $(".sessionForm").submit(function (event) {
                // Show the loading modal
                $("#loadingModal").modal("show");

                $('body').css('pointer-events', 'none')
            });

            var today = new Date().toISOString().split('T')[0];
            $('#dateField').attr('min', today);


            $(".myButton").on("click", function () {
                // Get the values from data attributes
                var userId = $(this).data("userid");
                var sessionId = $(this).data("sessionid");
                var sessionDate = $(this).data("sessiondate");

                // Save userId and sessionId to session storage
                sessionStorage.setItem("userId", userId);
                sessionStorage.setItem("sessionId", sessionId);
                sessionStorage.setItem("sessionDate", sessionDate);

            });


            $('#bookBtn').on('click', function () {

                var userId = sessionStorage.getItem("userId");
                var sessionId = sessionStorage.getItem("sessionId");
                var sessionDate = sessionStorage.getItem("sessionDate");


                let request = {
                    userId : userId,
                    sessionId : sessionId
                }

                var url = `/booking?userId=${request.userId}&sessionId=${request.sessionId}&date=${sessionDate}`;

                window.location.href = url

            });


        });

    </script>
}